.a {
    display: flex;
    gap: 4vh;
}



label, p {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size:small;
}

.info {
    text-align: center;
}

.subm {
    margin-bottom: 5%;
    color:blue;
}